.input {
  font-size: 1rem;
  border: 1px solid #f1f1f1;
  padding: 0.5rem 1rem;
  margin-right: 1rem;
  width: 100%;

  /* Remove shadow on iOS Safari */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
