.player {
  padding: 1rem;
  border: 1px solid #f1f1f1;
  width: 100%;
}

.playerRoundBorders {
  border-radius: 0.25rem;
}

.playerLink {
  display: block;
  text-decoration: none;
  color: #000000;
  width: 100%;
}
