.dialogBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  border-bottom: 1px solid #f1f1f1;
  min-height: 59px;
}

.dialogBarTitle {
  font-weight: 500;
}
