.button {
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  background-color: #ffffff;
  border: 1px solid transparent;
  cursor: pointer;
}

.buttonBig {
  font-size: 1.5rem;
}
