.loadingItem {
  padding: 1rem;
  background-color: #f1f1f1;
  border: 1px solid #f1f1f1;
  border-radius: 0.25rem;
  width: 100%;
  min-height: 52px;
  animation-duration: 2s;
  animation-name: blink;
  animation-iteration-count: infinite;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
